body {
    margin: 0;
    overflow: hidden;
}

/* SIDEBAR */
#side {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    overflow: hidden;
    z-index: 1000;
}

/* CONTENT */
.content-area {
    margin-left: 240px;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

/* Nav link style */
.nav-link {
    color: white !important;
}

.nav-link.active {
    background: #ffc107 !important;
    color: black !important;
    font-weight: bold;
}
